<!DOCTYPE html>
<html lang="en" data-theme="lofi">
<%- include('partials/head') %>
<body>

    <%- include('partials/navbar') %>

    <div class="flex justify-center items-center w-screen flex-col">
        <h1 class="text-4xl m-1"><%= post.title %></h1>
        <p><%= post.content %></p>
        <% if (user && post.username === user.username) { %>
            <button class="btn btn-outline">Delete</button>
        <% } %>
    </div>

    <%- include('partials/footer') %>

    <script>
        const deleteBtn = document.querySelector('.btn-outline');
        deleteBtn.addEventListener('click', () => {
            fetch('/posts/<%= post._id %>', {
                method: 'DELETE'
            })
                .then(response => response.json())
                .then(data => window.location.href = data.redirect)
                .catch(err => console.log(err));
        });
    </script>
</body>
</html>