<!DOCTYPE html>
<html lang="en" data-theme="lofi">
<%- include('partials/head') %>
<body>

    <%- include('partials/navbar') %>


    <div class="flex justify-center items-center w-screen flex-col">
        <% posts.forEach(post => { %>
            <a href="/posts/<%= post._id %>" class="w-1/2 p-4 my-1 rounded-md border">
                <h1 class="text-4xl m-1"><%= post.title %></h1>
                <p><%= post.content %></p>
                <p class="text-gray-500">by <%= post.username %></p>
            </a>
        <% }) %>
    </div>
    

    <%- include('partials/footer') %>
</body>
</html>